<form [formGroup]="sampleform">
    <div>
        
        <mat-form-field  appearance="fill">
            <mat-label>full name</mat-label>
            <input [(ngModel)]="fname" matInput formControlName="smname" required>
         <mat-error *ngIf="sampleform.controls.smname.hasError('required')"> you must enter a value</mat-error>
          </mat-form-field>
    </div>
    <div>
        
        <mat-form-field appearance="fill">
            <mat-label>email</mat-label>
            <input matInput [(ngModel)]="email" formControlName="smemail" required>
         <!-- <mat-error *ngIf="sampleform.controls.smemail.errors.required"> you must enter a value</mat-error> -->
         <!-- <mat-error *ngIf="sampleform.controls.smemail.errors.email"> do enter a valid email</mat-error> -->
         <mat-error *ngIf="sampleform.controls.smemail.hasError('required')"> you must enter a value</mat-error>
         <mat-error *ngIf="sampleform.controls.smemail.hasError('email')"> notvalid </mat-error>
 
        </mat-form-field>
    </div>
        <div>
        <mat-form-field appearance="fill">
            <mat-label>contact</mat-label>
            <input matInput  [(ngModel)]="contact"formControlName="smcontact" required>
         <mat-error *ngIf="sampleform.controls.smcontact.hasError('required')"> you must enter a value</mat-error>
         <mat-error *ngIf="sampleform.controls.smcontact.hasError('maxlength')||sampleform.controls.smcontact.hasError('minlength')"> length error </mat-error>
 
        </mat-form-field>
        
    </div>
    
    <div>
    <mat-form-field appearance="fill">
        <mat-label> start</mat-label>
        <input matInput [(ngModel)]="fromdate" formControlName='smdate'  [min]="startDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>end</mat-label>
            <input matInput  [(ngModel)]="todate" formControlName='smdate1' [min]="startDate" [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
             <!-- <mat-error *ngIf="{{datecon}}">{{dateerror}}</mat-error> -->
          </mat-form-field>
    
        </div>
        <button type="submit" (click)="submit(fname,email,contact,todate,fromdate)"> submit</button>
   
        
</form>
s
