<p>routequerydata works!</p>
<form [formGroup]="completeform">
    <div>
  <mat-form-field  appearance="fill">
    <mat-label>fullname</mat-label>
    <input matInput  formControlName="fullname" [(ngModel)]="fName" type="text" required>
    <mat-error *ngIf="completeform.get('fullname').hasError('required')"> you must enter a value</mat-error>
  <mat-error *ngIf="completeform.get('fullname').hasError('maxlength')">exceeded the max limit</mat-error>
    
  </mat-form-field> 
  </div>
  <div>
  <mat-form-field  appearance="fill">
    <mat-label>email</mat-label>
    <input matInput  formControlName="email" [(ngModel)]="emailModel" type="text" required>
    <mat-error *ngIf="completeform.get('email').hasError('required')"> you must enter a value</mat-error>
  
  <mat-error *ngIf="completeform.get('email').hasError('email')"> not valid email</mat-error>
  <!-- <mat-error *ngIf="completeform.get('email').invalid">{{emailerror()}}</mat-error>  -->
  </mat-form-field> 
<button type="submit" (click)='formdata(fName , emailModel)'>submit</button>
  </div>
  </form>
