
<input type="text"[(ngModel)]="todolistdata" >
<button type="submit" (click)="pushingintoarray()">Enter</button>
<p>{{ "mytodolist:"+ todolistdata}}</p>
<p *ngFor=" let pusheddata of todolistarray;let presentindex = index" >
   {{pusheddata.id}} {{pusheddata.todolistdata}}<button type="button" (click)=" listdeletion(presentindex)">Remove</button>
</p>