<p>Parent - {{parentInput}}</p>
<app-institutions [manojInput]="parentInput" (changeView)="kingkohli($event)"></app-institutions>
<form [formGroup]="completeform">
  <div>
<mat-form-field  appearance="fill">
  <mat-label>fullname</mat-label>
  <input matInput  formControlName="fullname" type="text" required>
  <mat-error *ngIf="completeform.get('fullname').hasError('required')"> you must enter a value</mat-error>
<mat-error *ngIf="completeform.get('fullname').hasError('maxlength')">exceeded the max limit</mat-error>
  
</mat-form-field> 
</div>
<div>
<mat-form-field  appearance="fill">
  <mat-label>email</mat-label>
  <input matInput  formControlName="email" type="text" required>
  <mat-error *ngIf="completeform.get('email').hasError('required')"> you must enter a value</mat-error>

<mat-error *ngIf="completeform.get('email').hasError('email')"> not valid email</mat-error>
<!-- <mat-error *ngIf="completeform.get('email').invalid">{{emailerror()}}</mat-error>  -->
</mat-form-field> 
</div>
<div>

  <mat-radio-group  formControlName="gender"  (change)="maritalmethod()" required >
    <mat-radio-button value="male">male</mat-radio-button>
    <mat-radio-button value="female">female</mat-radio-button>
    <mat-radio-button value="others">others</mat-radio-button>
    <mat-error *ngIf=" completeform.get('gender').dirty && completeform.get('gender').hasError('required')"> you must select a value</mat-error>

   </mat-radio-group>
   </div>
   <div>
   <mat-form-field appearance="fill"  *ngIf=" completeform.get('gender').value && completeform.get('gender').value !== 'others' ">
    <!-- <mat-form-field appearance="fill"  *ngIf=" completeform.get('gender').value == 'male'||  completeform.get('gender').value=='female'"> -->

    <mat-label>maritalstatus</mat-label>
    <mat-select  formControlName="maritalstatus" required>
      <mat-option value="married">married</mat-option>
      <mat-option value="unmarried">unmarried</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<button type="submit" (click)="submit()">Parent submit</button>
</form>
<div>
  <button (click)="showToasterSuccess()">
    Success Toaster
</button>
  
<button (click)="showToasterError()">
    Error Toaster
</button>
  
<button (click)="showToasterInfo()">
    Info Toaster
</button>
  
<button (click)="showToasterWarning()">
    Warning Toaster
</button>
<input type="text" [(ngModel)]="tostevar" (mouseover)="showToastervar(tostevar)">
</div>