<div class=" backimg"style="background-image: url('../../assets/Homepage/topBanner.png')">
<div>
<nav class="navbar navbar-expand-sm ">
  
  <div class="row row-cols-1"  class="container-fluid"style="width: 100%;">
    
    <div class="col-9" >
      
        
      <ul class="navbar-nav" style="width: 100%">
      
    <a class="navbar-brand ">
        <img  src="../../assets/Homepage/thumbnail12.png" class="navicon"  >
      </a>
  
    
      <li class="nav-item">
        <a class="nav-link"  routerLink="/student" (click)="stucarotchange()">students
           <span class="arrow "    [ngClass]="[carot]"></span></a>
        <!-- <span *ngIf="student.touched"><i class="arrow up" ></i></span>
        <span *ngIf="student.untouched"><i class="arrow down"></i></span> -->
      </li>
    
  
      <li class="nav-item">
        <a class="nav-link"  id="inti" routerLink="/institutions"(click)="inticarotchange()"  >institutions 
           <span class="arrow"  id="inti"  [ngClass]="[inticarot]"></span></a>
          
      </li>
    
      <!-- <li class="nav-item">
      <mat-accordion   >
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a class="nav-link" routerLink="/careerprofessionals">career profesionals 
                 <span  id=""class="arrow down" [ngClass]="{'up' : carot=='down'&& inticarot=='down',
               'down':carot=='up'|| inticarot=='up' }"></span> </a> 
              
            </mat-panel-title>
            
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        </mat-accordion>
      </li> --> 
  
      <li class="nav-item">
        <a class="nav-link" routerLink="/careerprofessionals">career profesionals 
            <span  id=""class="arrow down" [ngClass]="{'up' : carot=='down'&& inticarot=='down',
          'down':carot=='up'|| inticarot=='up' }"></span></a> 
      </li>


      <li class="nav-item ">
         <a class="nav-link " id="stu" routerLink="/findcounselors"> find counselors </a>
         <span id="stua" class="arrow"></span>
        </li>
    <li class="nav-item nav-p-button">
        <p> search courses </p>
      </li>
  
  
      <li class="nav-item ">
        <button class="nav-link nav--button" routerLink="/careertest">career test</button>
      </li>

    </ul>
  </div>
    <div class="col-3"  style="float: right;">
      <ul class="navbar-nav" style="width: 100%">
    <li class="nav-item nav-p-button mat-expansion-panel-header">
        <p> signup  as partner </p>
      </li>
      <li class="nav-item ">
        <button class="nav-link nav--button" style="border-radius: 20px;" routerLink="/login">login</button>
      </li>
      <li class="nav-item ">
         <button  mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
          </button> 
      
      </li>
      </ul>
    </div>
  </div>

  </nav>
  
</div>
<div>
  <button routerLink='/parent' >parent</button>
  <button   routerLink='/child'>child</button>
</div>
<div class="sectionmargin">
  <h1 class="hstyle">Personalized Learning <br>with world’s best platform</h1>
  <div>
    <section style="line-height: 107px">
    <ul class="example-button-row">
      <li>
    <button mat-raised-button class="sectionbutton" style="background-color:#c70a62!important;">students</button></li>
    <li>

    <button mat-raised-button class="sectionbutton " >professionals</button>
    </li><li>
    <button mat-raised-button  class="sectionbutton" routerLink='/partner' >partner</button>
    </li>
  
    </ul>
  </section>
  <section>
  <span  class="btn">
<button mat-raised-button class="sectionbutton list-inline-item" routerLink='/routequeryview'>findcounselors </button>
    <button mat-raised-button class="sectionbutton list-inline-item"  routerLink='/routequerydata'>search courses</button>
  
  </span>
</section>
  </div>
</div>
</div>
<div class="row container" style="margin: 33px 1px 0px 102px">
  <div class="col-6">
    <h1 class="award"> National Startup Award, 2020</h1>
  </div>
  <div class="col-6 c-award">
    <p> Bodhami has won the National Startup Award 2020 in the 'Rural Impact <br>
      Startup'Category. This is in Career Counseling and Personalized<br>
      Learning space </p>
  </div>
  
</div>
<div class="row container-fluid">
  <div class="col-4">
<mat-card style="margin-left: 210px;">
  <mat-card-header>

    <mat-card-subtitle style="margin-left: 28px;">Our Associations</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="matcardimg " style="padding: 34px 79px 58px 87px;
  margin: 5px 0px 2px -63px" src="../../assets/Homepage/APCDALOGO.png" alt="APCDALOGO">
    
    <!-- <hr style="width:98%;text-align:left;margin-left:2px"> -->
  <mat-divider></mat-divider>
  <img mat-card-image class="matcardimg " style="padding: 4px 85px 0px 85px;
  margin: 45px 0px 24px -55px;
" src="..//../assets/Homepage/IAAPLOGO.png" alt="IAAPLOGO">

</mat-card>
</div>
<div class="col-4">
  <mat-card >
    <mat-card-header>

      <mat-card-subtitle>National Startup Award</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="matcardimg " style="padding: 10px 101px 105px 61px;
    margin-left: -42px;" src="../../assets/Homepage/bodhamiAward.jpeg" alt="bodhamiAward">
  
    <img mat-card-image class="matcardimg " style="margin: -215px 0px 0px -64px;
    padding: 111px;" src="../../assets/Homepage/startUpIndia.png" alt="startUpIndia">
  
  </mat-card>
  </div>
  <div class="col-4">
    <mat-card style="margin-left: -22px;">
      <mat-card-header>

        <mat-card-subtitle>Startup Under SPC - Goa</mat-card-subtitle>
      </mat-card-header>
      
      <img mat-card-image  class="matcardimg " style="padding: 8px 111px 0px 28px;"src="../../assets/Homepage/goaPromotionCell.jpg" alt="bodhamiAward">
      
      
      <img mat-card-image  class="matcardimg " style="padding: 22px 155px 43px 72px;"src="../../assets/Homepage/startUpPromtionCellGoa.jpg" alt="bodhamiAward">
    
    </mat-card>
    </div>
</div>