.navbar-nav>li {
    float: left;
    padding: 0% 1% 0% 1%;
    font-size: 14px;
    color: #ffff;
    margin-top: 14px;
}
.backimg{
    height: 695px;
    width: 100%;
    background-size: cover
}
.navicon{
    
    width: 50px
}
.navbar-brand {
    height: 50px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-nav .nav-link {
     color: #ffff;
    font-size: 14px;
}
.nav-p-button  {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.nav--button  {

    background-color: #0000ff;
    border: none;
    font-family: 'Roboto';
    margin: 10px 0px 2px 28px;
    padding: 3px 20px 3px 20px!important;
   ;}

 .arrow {
 border: solid #ffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 8px;
    text-align: center;
    padding-block: 2px;
    vertical-align: -webkit-baseline-middle;
    margin-bottom: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s;
   
}
  #stu:after #stua {
    border: solid #ffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 8px;
    text-align: center;
    padding-block: 2px;
    vertical-align: -webkit-baseline-middle;
    margin-bottom: 10px;
    transform: rotate(-135deg)!important;
    -webkit-transform: rotate(-135deg)!important ;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .mat-icon-button i, .mat-icon-button .mat-icon {
    line-height: 36px;
    margin-left: 38px;
    color: #ffff;
    font-size: 33px;
}
.imgicon{
    width:100%;
}
.navicon {
    width: 100px;
    padding: 0px 22px 22px 11px;
    margin-left: -25px;
    margin-right: -21px;
}
.sectionmargin{
    margin: 39px 0px 0px 94px;

}
.hstyle{
    font-size: 32px;
    line-height: 49px;
    color: #ffff;
    font-family:'Montserrat', sans-serif!important;
    font-weight: 700;
}
.sectionbutton{
    line-height: 35px;
    padding: 2px 29px 2px 29px;
    border-radius: 22px;
    font-size: 12px;
    width: 139px;
    margin-left: 16px;
    background-color: #0000ff;
}
.example-button-row{
    display: inline-flex;  
  list-style:none;
  margin-left: -67px;
   flex-direction: row;
}
.btn {
    display: inline-block;
    
    margin-left: -37px;
   
}
.award{
    font-size: 27px;
    font-style:Roboto!important;
    font-weight: 700;
    margin-left: 40px;
}
.c-award{font-size: 16px;
    color: #898e92;
    font-style: Roboto;
    font-weight: 400;
    line-height: 24px;
}
.mat-card-image {
    width: calc(100% + 32px);
    padding: 30px 59px 61px 84px;
}
.matcardimg {
    vertical-align: middle;
    width: 350px!important;
}
.mat-card {
    background: #fff;
    color: #fff;
    width: 254px;
    height: 400px;
    margin: 19px 25px 29px 94px;
     border-radius: 32px;
     box-shadow: 2px 15px 28px 10px rgb(227 235 251)!important;
}


    
.mat-divider {
 border-top-color: rgb(39 37 37 / 12%);
   }
   .mat-card .mat-divider-horizontal {
    position: absolute;
    left: 0;
    width: 82%;
    margin-left: 20px;}
    .mat-card-subtitle {
        color: rgb(107 97 97 / 70%);
        font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 9px;}
    .mat-expansion-panel-header {
        flex-direction: row-reverse;
    } 
    .mat-expansion-indicator::after {
        transform: rotate(225deg) !important;  
  }
