<p >Child - {{manojInput}} </p>
<!-- <p *ngIf="[female]='female' && [married]='married'"> {{ 'mrs' + [fullname]='fninput()'}}</p>
<p *ngIf="female &&[unmarried]='unmarried'"> {{ 'miss' + [fullname]='fninput()'}}</p>
<p *ngIf="[others]='others'">{{[fullname]='fninput()'}} </p> -->
<button type="button" (click)="kingkohliSUbmit('King Kohli')" >Child Submit</button>